@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    .search-input {
      font-size: 1.2rem;
      padding: 0.8rem 1.2rem;
    }
    .search-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media (min-width: 640px) {
  button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


 